<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse bg-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="About">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="Projects">Projects</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="Education">Education</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="Experience">Experience</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="Contact">Contact</a></li>
    </ul>
  </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
<div>
