.container{
  width: 100%;
  display: grid;
  height:90vh;
  background-color: #373b44;
}
.row{
  align-self: center;
}
.col-md-8{
  background-color: #F5F5F5;
  border-radius: 5px;
}
.media{
  padding:10px;
}
