<div class="container" [@fadeInAnimation]>
<div class="row">
  <div class="col-sm-2 col-md-2">
  </div>
    <div class="col-sm-8 col-md-8">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/ksucrops.png" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Graduate Research Assistant</strong></h3>
              <h4><strong>JAN 2017 - CURRENT</strong></h4>
              <h4 class="card-text">Vegetation detection and classification</h4>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Show More</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/kstate.jpg" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Graduate Teaching Assistant</strong></h3>
              <h4><strong>AUG 2017 - CURRENT</strong></h4>
              <h4 class="card-text">Analysis of Algorithms</h4>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Show More</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/kstate.jpg" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Graduate Research Assistant</strong></h3>
              <h4><strong>JAN 2017 - MAY 2017</strong></h4>
              <h4 class="card-text">Research work station setup</h4>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Show More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 col-md-2">

        </div>
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/globalcampus.jpg" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Student Web Developer</strong></h3>
              <h4><strong>OCT 2016 - JAN 2017</strong></h4>
              <h4 class="card-text">Website development, CMS, WordPress</h4>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Show More</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/mytrah.jpg" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Software Developer Intern</strong></h3>
              <h4><strong>Jan 2016 – Apr 2016</strong></h4>
              <h4 class="card-text">Real Time Dashboard for Wind Turbines</h4>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Show More</button>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-2">

        </div>
      </div>
  </div>
    <div class="col-sm-2 col-md-2">
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</div>
