<div class="container" [@fadeInAnimation]>
<div class="row">
  <div class="col-sm-2 col-md-2">
  </div>
    <div class="col-sm-8 col-md-8">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/ksucrops.png" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Graduate Research Assistant</strong></h3>
              <h4><strong>JAN 2017 - CURRENT</strong></h4>
              <h4 class="card-text">Vegetation detection and classification</h4>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#gra1">Show More</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/kstate.jpg" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Graduate Teaching Assistant</strong></h3>
              <h4><strong>AUG 2017 - CURRENT</strong></h4>
              <h4 class="card-text">Analysis of Algorithms</h4>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#gta">Show More</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/kstate.jpg" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Graduate Research Assistant</strong></h3>
              <h4><strong>JAN 2017 - MAY 2017</strong></h4>
              <h4 class="card-text">Research work station setup</h4>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#gra2">Show More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 col-md-2">

        </div>
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/globalcampus.jpg" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Student Web Developer</strong></h3>
              <h4><strong>OCT 2016 - JAN 2017</strong></h4>
              <h4 class="card-text">Website development, CMS, WordPress</h4>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#webdev">Show More</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/mytrah.jpg" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Software Developer Intern</strong></h3>
              <h4><strong>Jan 2016 – Apr 2016</strong></h4>
              <h4 class="card-text">Real Time Dashboard for Wind Turbines</h4>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#intern">Show More</button>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-2">

        </div>
      </div>
  </div>
    <div class="col-sm-2 col-md-2">
    </div>
</div>

<div id="gra1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Graduate Research Assistant, Agronomy, K-State</h3>
      </div>
      <div class="modal-body">
        <p> <strong>Skills:</strong> OpenCV(image processing), Scikit-learn(machine learning), Matplotlib, Python</p>
        <p>✶ Applied image processing techniques to segment vegetation and background from images using OpenCV.</p>
        <p>✶ Built machine-learning models to detect and classify vegetation into corn and weed classes using scikit-learn.</p>
        <p>✶ Built a hybrid mobile application for ksu-crops team using ionic framework with angular.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="gta" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Graduate Teaching Assistant, Analysis of Algorithms, K-State</h4>
      </div>
      <div class="modal-body">
        <p>✶ Helping graduate students to get clear understanding of concepts in ‘Design and analysis of algorithms’ course by
constructively critiquing and grading assignments.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="gra2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Graduate Research Assistant, Computer Science, K-State</h4>
      </div>
      <div class="modal-body">
        <p> <strong>Skills:</strong> Linux, Docker, Caffe</p>
        <p>✶ Assembled systems(Research workstations) and managed to setup dual boots (UEFI specification) for Ubuntu and Windows.</p>
        <p>✶ Assisted with Ubuntu system administration tasks, deployed Docker engines for containerization of Caffe, a deep learning framework.</p>
        <p>✶ Worked on a deep learning project(non-disclosure agreement).</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="webdev" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Student Web Developer, Global Campus, K-State</h4>
      </div>
      <div class="modal-body">
        <p>✶ Worked as a student web developer, focused on updating Campus Website using HTML, CSS and JavaScript.</p>
        <p>✶ Used Word Press and OU Campus Content Management System extensively.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="intern" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Software Developer Intern, Mytrah Energy</h4>
      </div>
      <div class="modal-body">
        <p> <strong>Skills:</strong> Spring, JSP, Websockets, JavaScript, HTML, CSS, Ionic, Angular</p>
        <p>Real Time Dashboard for Wind Turbines using OPC Interface</p>
        <p>✶ Developed a dynamic web project to monitor wind turbines and collect information of various attributes like wind speed,
current generated etc. Implemented web-sockets to acquire this data from turbines in real-time.</p>
        <p>✶ Designed dashboard that helps to summarize details and status of energy production. Used REST API to get data as JSON
objects. Google charts API and Google Maps API are used to get data visualization and locations of turbines.</p>
        <p>MytrahApp</p>
        <p>✶ Developed an ionic application which is a mobile version of the dashboard developed earlier and published on multiple
operating system markets.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</div>
