<div class="container" [@fadeInAnimation]>
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/mytrahapp.jpg" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Real Time Dashboard for Wind Turbines</strong></h3>
              <h4 class="card-text">JSP, Java Servlets, JavaScript, Spring, HTML, jQuery, Bootstrap </h4>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#intern">Show More</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/ml.JPG" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Object detection & classification in vegetation</strong></h3>
              <h4 class="card-text">OpenCV, Scikit-learn(Machine Learning), Python</h4>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#gra1">Show More</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/logger.jpg" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Precipitation & soil moisture logger(Arduino)</strong></h3>
              <h4 class="card-text">Arduino Create, C, C++, Programming</h4>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#gra2">Show More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 col-md-2">
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/db.png" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Information Retrieval and Recommendation System on Million Songs subset</strong></h3>
              <h4 class="card-text">Java, PySpark, JSP, MySQL, JDBC, Java Script, Python</h4>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#million">Show More</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/histograms.png" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Data Analysis and Visualization<br/> on Crime Data</strong></h3>
              <h4 class="card-text">Hive, Google Charts API, jQuery, Apache Tomcat, HTML</h4>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crime">Show More</button>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-2">
        </div>
      </div>

<div id="intern" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Real Time Dashboard for Wind Turbines</h4>
      </div>
      <div class="modal-body">
        <p> <strong>Skills:</strong> Spring, JSP, Websockets, JavaScript, HTML, CSS, Ionic, Angular</p>
        <p>Real Time Dashboard for Wind Turbines using OPC Interface</p>
        <p>✶ Developed a dynamic web project to monitor wind turbines and collect information of various attributes like wind speed,
current generated etc. Implemented web-sockets to acquire this data from turbines in real-time.</p>
        <p>✶ Designed dashboard that helps to summarize details and status of energy production. Used REST API to get data as JSON
objects. Google charts API and Google Maps API are used to get data visualization and locations of turbines.</p>
        <p>MytrahApp</p>
        <p>✶ Developed an ionic application which is a mobile version of the dashboard developed earlier and published on multiple
operating system markets.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="gra1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Object detection and classification in vegetation imagery</h3>
      </div>
      <div class="modal-body">
        <p> <strong>Skills:</strong> OpenCV(image processing), Scikit-learn(machine learning), Matplotlib, Python</p>
        <p>✶ Applied image processing techniques to segment vegetation and background from images using OpenCV.</p>
        <p>✶ Built machine-learning models to detect and classify vegetation into corn and weed classes using scikit-learn.</p>
        <p>✶ Built a hybrid mobile application for ksu-crops team using ionic framework with angular.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="gra2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Precipitation logger</h4>
      </div>
      <div class="modal-body">
        <p> <strong>Skills:</strong> Arduino Create, C/C++</p>
        <p>✶ Developed a data logging system using Arduino that logs crucial sensor data for crop modeling.</p>
        <p>✶ Motivation is to bring cheap sensing systems in crop modeling.</p>
        <p>✶ Developed system successfully logs soil moisture and precipitation data.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="million" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Information Retrieval and Recommendation System on Million Songs subset</h4>
      </div>
      <div class="modal-body">
        <p> <strong>Skills:</strong>Java, PySpark, JSP, MySQL, JDBC, Java Script, Python</p>
        <p>✶ Built a web application using JAVA to serve users with customized search options for songs.</p>
        <p>✶ Implemented collaborative filtering techniques using Spark MLlib to provide recommendations.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="crime" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Data Analysis and Visualization on Crime Data</h4>
      </div>
      <div class="modal-body">
        <p> <strong>Skills:</strong>Hive, Google Charts API, jQuery, Apache Tomcat, HTML</p>
        <p>✶ Analytics to get interesting statistics on a crime dataset using HiveQL.</p>
        <p>✶ Visualized results using Google charts API through a web application.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



</div>
