<div class="container" [@fadeInAnimation]>
<div class="row">
  <div class="col-sm-2 col-md-2">
  </div>
    <div class="col-sm-8 col-md-8">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/kstate.jpg" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Graduate Research Assistant</strong></h3>
              <h4><strong>JAN 2017 - CURRENT</strong></h4>
              <h4 class="card-text">Vegetation detection and classification</h4>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/kstate.jpg" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Graduate Teaching Assistant</strong></h3>
              <h4><strong>AUG 2017 - CURRENT</strong></h4>
              <h4 class="card-text">Analysis of Algorithms</h4>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/kstate.jpg" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Graduate Research Assistant</strong></h3>
              <h4><strong>JAN 2017 - MAY 2017</strong></h4>
              <h4 class="card-text">Research work station setup</h4>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 col-md-2">

        </div>
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/kstate.jpg" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Student Web Developer</strong></h3>
              <h4><strong>OCT 2016 - JAN 2017</strong></h4>
              <h4 class="card-text">Website development, CMS, WordPress</h4>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="../assets/kstate.jpg" alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title"><strong>Software Developer Intern</strong></h3>
              <h4><strong>Jan 2016 – Apr 2016</strong></h4>
              <h4 class="card-text">Real Time Dashboard for Wind Turbines</h4>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-2">

        </div>
      </div>
  </div>
    <div class="col-sm-2 col-md-2">
    </div>
</div>
</div>
